*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
h3{
    font-size: 24px;
}
header{
    background-color: #EAC926;
    padding-bottom: 3%;
    max-width: 100em;
    max-height: 100em;
    padding-left: rem;
}
body{
    text-align: center;
}
main{
    text-align: center;
    width: 90vw;
}
main article{
    margin-bottom: 10px;
    text-align: center;
}
#logo{
    width: 80%;
    padding: 7%;
}
.navigation{
    text-align: center;
}
.navigation #navbar{
    margin-top: 1em;
    margin-left: 1em;
    width: 80%;
    height: 1.5em;
    display: inline-block;
}
.navigation #glass{
    font-size: 100%;
    padding: 1%;
    border: solid 1px;
    border-radius: 25%;
    display: inline-block;
}
i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;;
}
.info{
    text-align: center;
}
.info #hand{
    margin-top: 1em;
    display: inline-block;
}
.info #compra{
    margin-left: 1em;
    display: inline-block;
}
.burger-menu{
    text-align: center;
}
.burger-menu button{
    background-color: #03264C;;
    font-size: 100%;
    padding: 1.5%;
    border: solid #03264C;;
    border-radius: 20%;
    margin-bottom: 1%;
}
#burger{
    color: white;
    margin-bottom: 0%;
}
.lists{
    display: none;
}
.lists li{
    list-style: none;
}
body{
    max-width: 100em;
    max-height: 100em;
}
.secciones{
    margin-left: 10%;
}
.secciones div{
    margin: auto 15px;
}
.secciones article{
    border-top: 1px solid #ebebeb;
}
.precio, .percent{
    display:  inline-block;
}
.precio{
    font-size: 18px;
}
.desc, .percent{
    font-size: 16px;
}
.desc{
    display: none;
}
.percent{
    color: #39b54a;
}
header ul{
    padding: 0;
}
.menu-cuenta li, i{
    display: inline-block;
    font-size: 1rem;
    margin: auto;
}
.pics{
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}
footer{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 1px;
}
h4{
    color: #666;
}
footer h3{
    margin-top: 0%;
    margin-bottom: 0%;
}
footer p{
    margin-top: 1rem;
    margin-bottom: 10%
}
footer i{
    font-size: 2em;
    margin-bottom: 10px;
}
@media (min-width: 361px){
    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .desc{
        margin: auto;
        display: block;
    }
    .lists{
        display: block;
    }
    .burger-menu{
        display: none;
    }
}